
  /* 内容区 */
  .ownerMes-Content {
    margin: 16px 24px 0px 24px;
    background: #fff;
    padding: 24px;
    height: 100%;
    display: flex;
    justify-content:center;
  }
  .ownerMes-Content .ownerMes-Content-box{
    width: 700px;
    height: 650px;
  }
